<header>
	<header>
		<nav>
			<ul class="nav__links">
				<li><a id="nav__links" href="/">Home</a></li>
				<li><a id="nav__links" href="/challengeafriend">Challenge a Friend</a></li>
				<li><a id="nav__links" href="/scoreboard">Scoreboard</a></li>
				<li><a id="nav__links" href="/about">About</a></li>
			</ul>
		</nav>
	</header>
</header>
