<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="shortcut icon" type="image/png" href="img/favicon.png">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="js/chessboard.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js" integrity="sha384-s3XgLpvmHyscVpijnseAmye819Ee3yaGa8NxstkJVyA6nuDFjt59u1QvuEl/mecz" crossorigin="anonymous"></script>
</head>
<body>
	<script defer src="/js/main.js"></script>
  <div class="header-container">
		<%- include('../partials/header.ejs') %>
	</div>
	<div class="body-container">
		<%- body %>
	</div>
</body>
</html>