button {
	font-weight: var(--header-font-weight);
	font-size: var(--button-font-size);
	padding: 9px 25px;
	background-color: var(--color-button-background);
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

#caf-button {
	margin-left: 0.5rem;
}

.caf-button :hover {
	background-color: var(--color-button-hover);
}