button {
	font-weight: var(--header-font-weight);
	font-size: var(--header-font-size);
	padding: 9px 25px;
	background-color: var(--color-button-background);
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

button :hover {
	background-color: var(--color-button-hover);
}

.caf-btn {
	margin-left: 1.5rem;
}