:root {
	--color-font-text: #edf0f1;
	--body-color-background: #24252A;
	--body-font-size: 15px;
	--body-font-weight: 500;

}

html {
	--html-color-background: #1B1C1F;
}

header {
	--color-link-hover: #0088a9;
	--header-font-size: 1.2rem;
	--header-font-weight: 500;
}

button {
	--color-button-background: #0088A9;
	--color-button-hover: #006c87;
}
