:root {
	--color-font-text: #edf0f1;
	--body-color-background: rgba(20, 20, 20, 0.555);
	--body-font-size: 15px;
	--body-font-weight: 500;
}

html {
	--html-color-background: #1B1C1F;
}

header {
	--header-font-size: 1.2rem;
	--header-font-weight: 500;
}

button {
	--color-button-background: #0088A9;
	--color-button-hover: #01657e;
	--button-font-size: 1.1rem;
}
